

{% block content %}


<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}

    <h4>    Do you want to Update this item ? </h4><br>
<div>
     <table style="width:100%"; border-spacing: 5px;>

        
        <tr>
            <th>num</th>
            <th>authorname</th>
            <th >coverpage</th>
            <th >price</th>
            <th >quantity</th>
            <th >total_pages</th>
            <th >phone_no</th>
            <th >email</th>
            <th >adress</th>               
         </tr>
                 
       <tr>
        <td>{{ a.id }} </td>
                   <td>{{ a.coverpage }} </td>
                   <td>{{ a.authorname  }}</td>
                   <td>{{ a.price }}</td>
                   <td>{{ a.quantity }}</td>
                   <td>{{ a.total_pages }}</td> 
                   <td>{{ a.phone_no  }}</td>
                   <td>{{ a.email }}</td>
                   <td>{{ a.adress }}</td>
       </tr>
    </table> <br><br>
    <div>
		<h1>Enter the values to be updated here.</h1>
    			{{ form.as_p }}
    </div>

        <input type="submit" value="Yes, Update" />
        <a href="/">Cancel </a>
    </form>
</div>



{% endblock %}